@import '../../../styles/_mixins';

.players-list {
  &__container {
    display: grid;
    gap: 5px;
    width: 100%;
    height: 100%;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-large) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }

  &__list {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__image {
    height: 85vh;
    width: auto;
  }
}
.players-list__player {
    .error-placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px; // Ajusta según tu diseño
      p {
        margin: 0;
        font-size: 14px;
        color: #333;
      }
    }
}
