$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

$primary-color: #DEC5E3;
$font-family: Roboto, "Helvetica Neue", sans-serif;
// Tipografía
/* @font-face {
	font-family: 'OpenSans';
	src: url('../assets/OpenSans.ttf');
}
$font-family: 'OpenSans';
 */