<p-breadcrumb [model]="items"></p-breadcrumb>
<ng-container *ngIf="errorMessage; else playerDetails">
  <div>{{ errorMessage }}</div>
</ng-container>

<ng-template #playerDetails>
  <div *ngIf="player" class="container">
    <div class="card">
      <ng-container *ngIf="loadingState; else imageTemplate">
        <div class="spinner">
          <app-load-img> </app-load-img>
        </div>
      </ng-container>
      <ng-template #imageTemplate>
        <img
          *ngIf="!errorState; else errorTemplate"
          [src]="player.photo_card"
          (load)="onLoad()"
          (error)="onError()"
          alt="{{ player.name }} {{ player.lastname }} {{
            'player.card_image' | translate
          }}"
          class="card-image" />
      </ng-template>
      <ng-template #errorTemplate>
        <div class="error-container">
          <img
            [src]="decryptedImgNotFound"
            class="card-image"
            alt="Image Not Found" />
          <div class="error-placeholder">
            <p>{{ player.name }} {{ player.lastname }}</p>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="info">
      <p>
        {{ 'player.pace' | translate | titlecase }}: {{ player.stats.pace }}
      </p>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width.%]="player.stats.pace"
          [attr.aria-valuenow]="player.stats.pace"
          aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <p>
        {{ 'player.shooting' | translate | titlecase }}:
        {{ player.stats.shooting }}
      </p>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width.%]="player.stats.shooting"
          [attr.aria-valuenow]="player.stats.shooting"
          aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <p>
        {{ 'player.passing' | translate | titlecase }}:
        {{ player.stats.passing }}
      </p>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width.%]="player.stats.passing"
          [attr.aria-valuenow]="player.stats.passing"
          aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <p>
        {{ 'player.dribbling' | translate | titlecase }}:
        {{ player.stats.dribbling }}
      </p>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width.%]="player.stats.dribbling"
          [attr.aria-valuenow]="player.stats.dribbling"
          aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <p>
        {{ 'player.defending' | translate | titlecase }}:
        {{ player.stats.defending }}
      </p>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width.%]="player.stats.defending"
          [attr.aria-valuenow]="player.stats.defending"
          aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <p>
        {{ 'player.physical' | translate | titlecase }}:
        {{ player.stats.physical }}
      </p>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width.%]="player.stats.physical"
          [attr.aria-valuenow]="player.stats.physical"
          aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button [routerLink]="['/players']">
      {{ 'button.return' | translate | titlecase }}
    </button>
    <button [routerLink]="['videos']">
      {{ 'button.videos' | translate | titlecase }}
    </button>
  </div>
</ng-template>
