<ng-container *ngIf="errorMessage; else videoList">
  <div class="error-message">{{ errorMessage }}</div>
</ng-container>

<ng-template #videoList>
  <div *ngIf="videos.length" class="video-container">
    <div *ngFor="let video of videos" class="video-item">
      <iframe
        [src]="video | safeUrl"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>  
</ng-template>
<div class="button-container">
  <button *ngIf="player" [routerLink]="['/players', player.id]">Volver</button>
</div>

